header {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  padding: 20px 20px 10px 20px;
  transition: all 0.5s;

  @media screen and (max-width: $tablet) {
    padding: 10px 10px;
    height: 120px;
  }

  .header-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 70px;
    transition: all 0.5s;

    @media screen and (max-width: $tablet) {
      justify-content: space-between;
    }

    &__menu {
      display: none;
      background-image: url("/public/images/menu-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      margin: 5px;
      min-width: 25px;
      min-height: 25px;
      cursor: pointer;

      @media screen and (max-width: $tablet) {
        display: block;
      }
    }

    &__logo {
      margin-right: 25px;
      height: 70px;

      @media screen and (max-width: $tablet) {
        margin-right: 0;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 65%;
      height: 60%;

      @media screen and (max-width: $tablet) {
        order: 2;
        width: 100%;
      }

      &__input {
        width: 100%;
        padding: 0.9375rem 0.8rem;
        padding-left: 10px;
        border: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        outline: none;
        color: #B8B8B8;
        background-color: $white;
        font-size: 1rem;
        font-weight: 200;
        transition: all 0.2s ease;
        line-height: 1.5;

        box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.05);

        &:hover {
          box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.05);
        }

        &::placeholder {
          color: #B8B8B8;
        }
      }

      &__button {
        width: 5%;
        min-width: 56px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $secondary;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all 0.2s ease;

        img {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: #efe7ce;
        }
      }
    }

    &__cart {
      width: 25px;
      height: 25px;
      padding: 15px;
      margin-left: auto;
      cursor: pointer;

      @media screen and (max-width: $tablet) {
        margin-left: 0;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 15px;

    &.open {
      left: 0vw;
      opacity: 1;
    }

    @media screen and (max-width: $tablet) {
      z-index: 3;
      position: absolute;
      top: 0;
      left: -100vw;
      flex-direction: column;
      justify-content: flex-start;
      opacity: 0;
      width: 40%;
      height: 100vh;
      margin: 0;
      margin-top: 0;
      padding: 0 15px;
      overflow-y: scroll;
      scroll-behavior: smooth;
      background-color: $white;
      transition: all 0.25s ease-in-out;
    }

    .header__navigation {
      a {
        color: $white;
        font-weight: 600;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 15px;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.8;
        }
      }

      @media screen and (max-width: $tablet) {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 2;

        a {
          color: $dark-gray;
          font-weight: 800;
          padding-left: 0;
        }
      }
    }

    .header__login {
      display: flex;
      flex-direction: row;

      a {
        color: $white;
        font-weight: 600;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 15px;

        &:hover {
          opacity: 0.8;
        }
      }

      @media screen and (max-width: $tablet) {
        order: 1;
        width: 100%;
        align-items: center;
        margin-bottom: 10%;

        a {
          color: $dark-gray;
          font-weight: 800;
          padding-left: 0;
        }

        .close {
          display: block;
          margin-left: auto;
        }
      }
    }
  }
}
