.new-books {

    margin-top: 8%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;


    h3 {
        color: $darkest-gray;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }


    .book-container {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        height: 350px;
        padding: 5px;

        &-item {
            
            display: flex;
            flex-direction: column;
            width: 220px;
            min-width: 220px;
            max-width: 220px;
            margin-right: 20px;
            padding: 1.25rem;
            box-shadow: 0px 0px 11px 0px rgba(0,0,0,.05);

            @media screen and (max-width: $tablet) {

            }

            &-cover {
                position: relative;
                max-width: 100%;
                max-height: 70%;
                text-align: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 2px 6px;
                    color: $white;
                    background-color: rgba($color: #000000, $alpha: .65);
                    font-size: .95rem;
                    font-weight: 600;
                }

                &.--no-label {
                    span {
                        display: none;
                    }
                }
            }

            &-description {

                &__title {
                    margin: 5px 0 0 0;
                    color: $light-black;
                    font-size: 1.2rem;
                    font-weight: 200;
                }

                &__author {
                    margin: 5px 0 0 0;
                    color: $dark-gray;
                    font-size: .9rem;
                    font-weight: 200;
                }
            }
        }

        .banner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 220px;
            max-width: 220px;
            min-width: 220px;
            padding: 1.25rem;
            color: $white;
            background-color: $primary;
            text-decoration: none;

            :first-child {
                font-size: .9rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            :last-child {
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
    }


}