.promo {
    margin-top: 8%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;

    @media screen and (max-width: $tablet) {
        margin: 0 10px;
        margin-top: 10%;
    }

    h3 {
        color: $darkest-gray;
        font-size: 1.4rem;
        font-weight: 600;
        text-align: center;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        // margin: 0 20px;

        @media screen and (max-width: $tablet) {
            margin: 0 5px;
        }

        &-tile__help {
            flex: 2 2 60%;
            height: 400px;
            margin-right: 20px;
            background-image: url("/public/images/tile-1_2048x2048.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            @media screen and (max-width: $tablet) {
                flex: 1 1 100%;
                height: 350px;
                margin-right: 0;
            }


            article {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                height: 100%;
                padding: 0 30px;
                background-color: rgba($black, .5);
                transition: all 0.2s ease;
                
                h3 {
                    z-index: 2;
                    color: $white;
                    margin: 0;
                    font-size: 2.2rem;
                    font-weight: 600;
                }
                
                p {
                    z-index: 2;
                    color: $white;
                    margin: 0;
                    margin-top: 15px;
                    width: 50%;
                    font-weight: 300;
                    font-size: 1.4rem;
                    text-align: left;

                    @media screen and (max-width: $mobile) {
                        width: 810%;
                    }

                }
                
                a {
                    z-index: 2;
                    color: $primary;
                    background-color: $white;
                    margin-top: 20px;
                    padding: 12px 20px;
                    border-radius: 3px;
                    font-size: 1.3rem;
                    font-weight: 600;
                    text-decoration: none;
                    text-align: center;
                }
                
                &__overlay {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    opacity: 0.5;
                }
            }
        }

        &-tile__steps {
            flex: 1 1 30%;
            width: 30%;
            height: 400px;
            background-image: url("/public/images/nuestro_problema_1024x1024.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            @media screen and (max-width: $tablet) {
                flex: 1 1 calc(50% - 10px);
                height: 330px;
                margin-top: 10px;
                margin-right: 10px;
            }

            @media screen and (max-width: $mobile) {
                flex: 1 1 100%;
                margin-top: 10px;
                margin-right: 0;
            }
        }

        &-tile__challenge {
            flex: 1 1 30%;
            height: 400px;
            margin-top: 20px;
            margin-right: 20px;
            background-image: url("/public/images/reto_de_lectura_1024x1024.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

            @media screen and (max-width: $tablet) {
                flex: 1 1 calc(50% - 10px);
                height: 330px;
                margin-top: 10px;
                margin-right: 0;
            }
        }

        &-tile__plans {
            flex: 2 2 60%;
            height: 400px;
            margin-top: 20px;
            background-image: url("/public/images/plan_de_membresia_1024x1024.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;


            @media screen and (max-width: $tablet) {
                margin-top: 10px;
                height: 350px;
            }
        }
    }
}