$primary: #F26241 !default;
$secondary: #FFF7DD !default;

$white: #fff !default;
$black: #000 !default;
$gray: #F8F8F8;
$pale-skin: #FFF7E1;
$dark-gray: #717171;
$darkest-gray: #4D4D4D;
$light-black: #424242;
$light-cream: #fff7de;


$tablet: 800px;
$mobile: 500px;